@charset "UTF-8";

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #D1DFBB, #87575C)

}

.game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
   

}

.cell {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 2em;
    cursor: pointer;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
    background-color: #87575C;
    border: none;
    color: white;
}

#reset:hover {
    background-color: #462c2e;
}